<%- include('includes/head.ejs') %>
</head>

<body>
  <div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/">
          <img src="/images/icon.svg" alt="icon" />
        </a>
        <h3>Forgot Password?</h3>
        <p>Reset password by entering the new passwords</p>
      </div>

      <form action="/admin/reset-password/<%= token %>" method="POST" class="form auth__form">
        <!-- Input:Password -->
        <div class="form__field">
          <label for="formInput#password">Password: </label>
          <input
            class="input input--password"
            id="formInput#password"
            type="password"
            name="password"
          />
        </div>

        <!-- Input:Confirm Password -->
        <div class="form__field">
          <label for="formInput#confirmPassword">Confirm Password: </label>
          <input
            class="input input--password"
            id="formInput#confirmPassword"
            type="password"
            name="confirmPassword"
          />
        </div>

        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Reset Password" />
          <a href="/admin/login">Login</a>
        </div>
      </form>
      <div class="auth__alternative">
        <p>Don’t have an Account?</p>
        <a href="/admin/signup">Sign Up</a>
      </div>
    </div>
  </div>
  <%- include('includes/end.ejs') %>
